@import "theme-variables";

.float-right {
  float: right !important;
}

.float-left {
  float: left;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.txt-uppercase {
  text-transform: uppercase;
}

.font-italic {
  font-style: italic;
}

.font-weight-bold {
  font-weight: 700 !important;
}

// width
.w-1 {
  width: 1rem;
}

.mxw-unset {
  max-width: unset !important;
}

// margin top

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 2.5rem;
}

.mt-7 {
  margin-top: 3rem;
}

// margin left

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 2rem;
}

.ml-6 {
  margin-left: 2.5rem;
}

.ml-7 {
  margin-left: 3rem;
}

.ml-12 {
  margin-left: 12rem !important;
}


// margin right

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 2rem;
}

.mr-6 {
  margin-right: 2.5rem;
}

.mr-7 {
  margin-right: 3rem;
}

// margin bottom

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 2.5rem;
}

.mb-7 {
  margin-bottom: 3rem;
}

.mb-8 {
  margin-bottom: 3.5rem;
}

.mb-9 {
  margin-bottom: 4rem;
}

// margin

.m-auto {
  margin: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 2rem;
}

.m-6 {
  margin: 2.5rem;
}

.m-7 {
  margin: 3rem;
}

// padding

[padding-0] {
  --padding-bottom: 0rem;
  --padding-end: 0rem;
  --padding-start: 0rem;
  --padding-top: 0rem;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 2rem;
}

.p-6 {
  padding: 2.5rem;
}

.p-7 {
  padding: 3rem;
}

.p-20 {
  padding: 20px;
}

.p-15 {
  padding: 15px;
}

// padding top

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-1-4 {
  padding-top: 0.4rem;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 2rem;
}

.pt-6 {
  padding-top: 2.5rem;
}

.pt-7 {
  padding-top: 3rem !important;
}

// padding bottom

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 2rem;
}

.pb-6 {
  padding-bottom: 2.5rem;
}

.pb-7 {
  padding-bottom: 3rem !important;
}

.pb-11 {
  padding-bottom: 5rem !important;
}

.pb-17 {
  padding-bottom: 7rem !important;
}

// padding left

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-2_5 {
  padding-left: 0.7rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 2rem !important;
}

.pl-6 {
  padding-left: 2.5rem;
}

.pl-7 {
  padding-left: 3rem !important;
}

.pl-11 {
  padding-left: 5rem !important;
}

.pl-16 {
  padding-left: 16rem !important;
}

.pl-250 {
  padding-left: 250px !important;
}

// padding right

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 2rem;
}

.pr-6 {
  padding-right: 2.5rem;
}

.pr-7 {
  padding-right: 3rem;
}

//font-size

.fs-1 {
  font-size: 0.1rem !important;
}

.fs-2 {
  font-size: 0.2rem !important;
}

.fs-3 {
  font-size: 0.3rem !important;
}

.fs-4 {
  font-size: 0.4rem !important;
}

.fs-5 {
  font-size: 0.5rem !important;
}

.fs-6 {
  font-size: 0.6rem !important;
}

.fs-7 {
  font-size: 0.7rem !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}

.fs-9 {
  font-size: 0.9rem !important;
}

.fs-10 {
  font-size: 1.0rem !important;
}

.fs-11 {
  font-size: 1.1rem !important;
}

.fs-12 {
  font-size: 1.2rem !important;
}

.fs-13 {
  font-size: 1.3rem !important;
}

.fs-14 {
  font-size: 1.4rem !important;
}

.fs-15 {
  font-size: 1.5rem !important;
}

.fs-16 {
  font-size: 1.6rem !important;
}

.fs-17 {
  font-size: 1.7rem !important;
}

.fs-18 {
  font-size: 1.8rem !important;
}

.fs-19 {
  font-size: 1.9rem;
}

.fs-20 {
  font-size: 2.0rem !important;
}

.fs-21 {
  font-size: 2.1rem;
}

.fs-22 {
  font-size: 2.2rem;
}

.fs-23 {
  font-size: 2.3rem;
}

.fs-24 {
  font-size: 2.4rem;
}

.fs-25 {
  font-size: 2.5rem !important;
}

.fs-26 {
  font-size: 2.6rem;
}

.fs-27 {
  font-size: 2.7rem;
}

.fs-28 {
  font-size: 2.8rem;
}

.fs-29 {
  font-size: 2.9rem;
}

.fs-30 {
  font-size: 3rem !important;
}

.fs-50 {
  font-size: 5rem !important;
}

.fs-100 {
  font-size: 10rem !important;
}

.d-inherit {
  display: inherit;
}

//font colors

.font-black {
  color: #000 !important;
}

.font-white {
  color: white !important;
}

.font-primary-dark {
  color: var(--font-primary-dark) !important;
}

.font-primary-grey {
  color: var(--font-primary-grey) !important;
}

.div-pull-left {
  display: inline-block;
  float: left;
}

.div-pull-right {
  display: inline-block !important;
  float: right !important;
}

.font-primary-ultra-dark {
  color: var(--primary-ultra-dark);
}

.font-primary-intermediate {
  color: var(--primary-intermediate);
}

.font-primary {
  color: var(--primary) !important;
}

.font-yellow {
  color: yellow !important;
}

.font-red {
  color: var(--red) !important;
}

.font-primary-black {
  color: var(--primary-black) !important;
}

.font-primary-white {
  color: var(--primary-white);
}

.font-primary-white {
  color: var(--primary-white);
}

.font-primary-grey-1 {
  color: var(--primary-grey-1) !important;
}

.font-primary-grey-4 {
  color: var(--primary-grey-4) !important;
}

.font-primary-grey-8 {
  color: var(--primary-grey-8) !important;
}

.font-primary-grey-a {
  color: var(--primary-grey-a) !important;
}

.font-primary-grey-c {
  color: var(--primary-grey-c);
}

.font-primary-grey-e {
  color: var(--primary-grey-e) !important;
}

//background colors

.bg-primary-white-light-b {
  background-color: var(--primary-white-light-b);
}

.bg-primary-ultra-dark {
  background-color: var(--primary-ultra-dark);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-primary-intermediate {
  background-color: var(--primary-intermediate);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-light {
  background-color: var(--primary-light);
}

.bg-gradient {
  background: linear-gradient(45deg, var(--primary-light), var(--primary-grey-e));
}

.--bg-gradient {
  --background: linear-gradient(45deg, var(--primary-light), var(--primary-grey-e));
}

.bg-primary-super-light {
  background-color: var(--primary-super-light);
}

.bg-primary-ultra-light {
  background-color: var(--primary-ultra-light);
}

.--bg-primary-ultra-light {
  --background: var(--primary-ultra-light) !important;
}

.bg-primary-mega-light {
  background-color: var(--primary-mega-light);
}

.--bg-primary-mega-light {
  --background: var(--primary-mega-light) !important;
}

.--bg-primary-light {
  --background: var(--primary-light) !important;
}

.bg-primary-black {
  background-color: var(--primary-black);
}

.bg-primary-white {
  background-color: var(--primary-white);
}

.bg-primary-grey-1 {
  background-color: var(--primary-grey-1) !important;
}

.bg-primary-grey-2 {
  background-color: var(--primary-grey-2);
}

.bg-primary-grey-3 {
  background-color: var(--primary-grey-3);
}

.bg-primary-grey-4 {
  background-color: var(--primary-grey-4);
}

.bg-primary-grey-5 {
  background-color: var(--primary-grey-5);
}

.bg-primary-grey-6 {
  background-color: var(--primary-grey-6);
}

.bg-primary-grey-7 {
  background-color: var(--primary-grey-7);
}

.bg-primary-grey-8 {
  background-color: var(--primary-grey-8) !important;
}

.bg-primary-grey-9 {
  background-color: var(--primary-grey-9);
}

.bg-primary-grey-a {
  background-color: var(--primary-grey-a);
}

.bg-primary-grey-b {
  background-color: var(--primary-grey-b);
}

.bg-primary-grey-c {
  background-color: var(--primary-grey-c) !important;
}

.bg-primary-grey-d {
  background-color: var(--primary-grey-d) !important;
}

.bg-primary-grey-e {
  background-color: var(--primary-grey-e) !important;
}

.bg-primary-white-light-2 {
  background-color: var(--primary-white-light-2) !important;
}

.bg-primary-white-light-b {
  background: var(--primary-white-light-b) !important;
}

.--bg-primary-white-light-b {
  --background: var(--primary-white-light-b) !important;
}

.bg-primary-white-light-5 {
  background-color: var(--primary-white-light-5) !important;
}

.bg-primary-white-light-d {
  background-color: var(--primary-white-light-d) !important;
}

.bg-primary-light-transparent {
  background-color: var(--primary-light-transparent);
}

.bg-primary-light-transparent-f {
  background-color: var(--primary-light-transparent-f);
}

.bg-primary-white-transparent {
  background-color: var(--primary-white-transparent);
}

.bg-primary-white-transparent-f {
  background-color: var(--primary-white-transparent-f);
}

.bg-primary-black-transparent {
  background-color: var(--primary-black-transparent);
}

.bg-primary-black-transparent-5 {
  background-color: var(--primary-black-transparent-5);
}

.bg-primary-black-transparent-light {
  background-color: var(--primary-black-transparent-light);
}

.--bg-transparent {
  --background: transparent;
}

.bg-transparent {
  background: transparent;
}

.--bg-primary-black {
  --background: var(--primary-black);
}

.bg-red-dark {
  background-color: darkred;
}

.bg-red {
  background-color: red;
}

.bg-green-light {
  background: #0ec254 !important;
}

.bg-yellow-light {
  background-color: yellowgreen;
}

.bg-success {
  background: #008000 !important;
}

.bg-info {
  background: #0ec254 !important;
}

.bg-primary-logo {
  background-color: var(--primary);
}

// border

.br-0 {
  border-radius: 0;
}

.br-1 {
  border-radius: 0.25rem;
}

.br-2 {
  border-radius: 0.5rem;
}

.br-3 {
  border-radius: 1rem;
}

.br-max {
  border-radius: 9999rem;
}

.--br-max {
  --border-radius: 9999rem;
}

.--br-3 {
  --border-radius: 1rem;
}

.elliptical-border {
  border-radius: 0 50%;
}

.bl-primary-grey-e-1 {
  border-left: 1px solid var(--primary-grey-e);
}

.bl-medium {
  border-left: 1px solid var(--primary-grey-e) !important;
}

.bl-dark {
  border-left: 1px solid var(--primary-grey-a) !important;
}

.bb-primary-grey-e-1 {
  border-bottom: 1px solid var(--primary-grey-e);
}

.bt-primary-grey-e-1 {
  border-top: 1px solid var(--primary-grey-e);
}

.bb-medium {
  border-bottom: 1px solid var(--primary-grey-e) !important;
}

.b-0 {
  border: 0px !important;
}

.b-2 {
  border: 2px solid var(--primary-grey-e) !important;
}

.b-white-1 {
  border: 1px solid var(--primary-white) !important;
}

// letter spacing

.ls-10 {
  letter-spacing: 1px;
}

.ls-20 {
  letter-spacing: 2px;
}

.ls-5 {
  letter-spacing: 0.5px;
}

//

.w-6 {
  width: 6rem
}

.w-100 {
  width: 100%
}

.w-100vw {
  width: 100vw
}

.w-fit-content {
  width: fit-content;
}

.w-col-row {
  width: 170px
}

.maxw-800p {
  max-width: 800px
}

.maxw-500p {
  max-width: 500px
}

//

.h-3 {
  height: 3rem;
}

.h-5 {
  height: 5rem;
}

.h-25 {
  height: 2.5rem !important;
}

.h-35 {
  height: 3.5rem !important;
}

.h-6 {
  height: 6rem !important;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.maxh-80vh {
  max-height: 80vh;
}

.h-80vh {
  height: 80vh;
}

.h-col-row {
  height: 280px
}

.h-100vh {
  height: 100vh
}

.h-img-col-row{
  height: 100px;
}

.w-img-col-row{
  width: 100px;
}

.h-40vh {
  height: 40vh
}

.h-30vh {
  height: 30vh
}

.h-10vh {
  height: 10vh
}

.h-20vh {
  height: 20vh
}

.h-60vh {
  height: 60vh
}

.h-50vh {
  height: 50vh
}

.h-100p {
  height: 100%
}

.h-fill {
  height: -webkit-fill-available;
}

//

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.lh-14 {
  line-height: 1.4rem;
}

.white-space-pre-line {
  white-space: pre-line;
}

.txt-hover-underline {
  text-decoration: underline !important;
}

//
.ellipses-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipses-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipses-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipses-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.--bw-0 {
  --border-width: 0px !important;
}

.z-9 {
  zoom: 0.9
}

.ng-dynamic-forms-app_mobile_number_input {
  padding-left: 1rem;
  padding-right: 1rem;
}

.iti.iti--allow-dropdown {
  width: 100%;
}

.iti.iti--allow-dropdown > input {
  border: 0px;
}

.placeholder-dark {
  --placeholder-color: var(--font-primary-dark);
  font-weight: bolder;
}

.min-width-unset {
  min-width: unset;
}

.left-quote {
  quotes: "“" "" "" "";
}