:root {
  --primary-ultra-dark: #1801F9;
  --primary-dark: #422FFE;
  --primary-intermediate: #7062FE;
  --primary: #9e95fe;
  --red: #F44336;
  --green: #3b9018bd;

  --font-primary-dark: #000000;
  --font-primary-grey: #b0b0b0;


  --primary-light: #fff;
  --primary-super-light: #fff;
  --primary-ultra-light: #fff;
  --primary-mega-light: #fff;

  //black

  --primary-black: #000;

  //white

  --primary-white: #fff;

  // Grey scale

  --primary-grey-1: #111;
  --primary-grey-2: #222;
  --primary-grey-3: #333;
  --primary-grey-4: #444;
  --primary-grey-5: #555;
  --primary-grey-6: #666;
  --primary-grey-7: #777;
  --primary-grey-8: #888; //medium black
  --primary-grey-9: #999;
  --primary-grey-a: #aaa;
  --primary-grey-b: #bbb;
  --primary-grey-c: #ccc;
  --primary-grey-d: #ddd;
  --primary-grey-e: #eee;

  // White-Light scale

  --primary-white-light-2: #f2f2f2;
  --primary-white-light-5: #f5f5f5;
  --primary-white-light-b: #fbfbfb;
  --primary-white-light-d: #fdfdfd;

  // transparent

  --primary-light-transparent: rgba(189, 189, 189, 0.95);
  --primary-light-transparent-f: rgba(245, 245, 245, 0.99);
  --primary-white-transparent: rgba(255, 255, 255, 0.5);
  --primary-white-transparent-f: rgba(255, 255, 255, 0.95);
  --primary-black-transparent: rgba(0, 0, 0, 0.7);
  --primary-black-transparent-5: rgba(0, 0, 0, 0.5);
  --primary-black-transparent-light: rgba(0, 0, 0, 0.1);
  --primary-grey-transparent-light: rgba(238, 238, 238, 0.8);

  //social

  --color-google: #c64136;
  --color-facebook: #3b5998;

}