<ion-row class="m-2">
    <ion-col class="p-3">
        <images-by-entity-and-type-sm
                [entity]="userProfile.userAccount._id" [entityType]="'USER_ACCOUNT'"
                [alt]="(userProfile|usersUserProfileToUserProfileValue:'NAME').value"></images-by-entity-and-type-sm>
        <ion-label class="font-black font-weight-bold ion-text-uppercase fs-12 ellipses-2 text-center mt-4">
            {{(userProfile|usersUserProfileToUserProfileValue:'NAME').value}}
        </ion-label>
    </ion-col>
</ion-row>
<ion-row class="m-2">
    <ion-col class="p-3">
        <images-by-entity-and-type-sm
                [entity]="matchedProfile.userAccount._id" [entityType]="'USER_ACCOUNT'"
                [alt]="(matchedProfile|usersUserProfileToUserProfileValue:'NAME').value"></images-by-entity-and-type-sm>
        <ion-label class="font-black font-weight-bold ion-text-uppercase fs-12 ellipses-2 text-center mt-4">
            {{(matchedProfile|usersUserProfileToUserProfileValue:'NAME').value}}
        </ion-label>
    </ion-col>
</ion-row>
