<ion-card>
  <ion-row>
    <ion-col size="3">
      <div class="top_layout">
        <div>
          <!-- <p class="img-sm-circular text-center font-white fs-15 br-max b-0" [ngStyle]="{'background-color' : 'red'}">
            A
          </p> --> 
        </div>
        <div>
          <img src="../../../../assets/heart-outline.svg">
        </div>
      </div>
    </ion-col>
    <ion-col size="9">
      <div class="w-100">
        <ion-label class="font-black font-weight-bold fs-8">
          John Doe has shown interest in your profile
        </ion-label>        
      </div>
      <div>
        <div>
          <ion-label>
            <ion-button>Decline</ion-button>
          </ion-label>
          <ion-label>
            <ion-button color="secondary">Accept</ion-button>
          </ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-card>>
<hr>
