<images-select-file
        (fileSelected)="selected_file=$event"
        (fileReceived)="file_blob=$event;fileReceived.emit($event);"></images-select-file>
<div *ngIf="selected_file" class="mb-2 center">
    <img src="{{convertFileSrc(selected_file.file_url)}}" class="d-inherit img-xl img-shadow">
</div>

<images-create-file-upload-request [entity]="entity" [entityType]="entityType"
                                   (fileUploadRequestCreated)="uploaded_file=$event;uploadFileFromBlob(file_blob.blob,$event.fileUploadUrl,createFileUploadRequestComponent.getFileContentType(selected_file.file_name))"
                                   #createFileUploadRequestComponent></images-create-file-upload-request>