<div>
    <div class="float-left" *ngFor="let i of numbers">
        <div class="w-img-col-row h-img-col-row">
            <images-file-details-md-with-delete [uploadedFile]="uploadedFiles[i]"
                                                (uploadedFileDeleted)="getUploadedFileByEntityAndType(createRequestData())"
                                                *ngIf="uploadedFiles&&uploadedFiles[i]"></images-file-details-md-with-delete>
            <images-upload-file-with-preview-sm [entityType]="entityType" *ngIf="!uploadedFiles||!uploadedFiles[i]"
                                                [entity]="entity"></images-upload-file-with-preview-sm>
        </div>
    </div>

</div>
