<div class="top_layout">
    <div *ngIf="uploadedFiles?.length">
        <img src="{{uploadedFiles[0].fileUrl}}" class="d-inherit img-sm-circular br-max  b-0 img-border-light m-auto"
        >
    </div>
    
    <div *ngIf="!uploadedFiles?.length && alt" >
        <p class="img-sm-circular text-center font-white fs-15 br-max b-0 img-border-light m-auto"
           [ngStyle]="{'background-color' : 'hsl(' + ((alt.toString().charAt(0).toUpperCase().charCodeAt(0) - 64) * 13) + ', 42%, 62%)'}">
            {{alt.toString().charAt(0).toUpperCase()}}
        </p>
    </div>
    
    <div *ngIf="!uploadedFiles?.length && alt" class="fab_icon" >
        <div style="width: 28px; height: 28px; border-radius: 50%; background-color: #9d88ef;">
            <ion-icon  name="heart" color="light" style="width: 20px; height: 20px;margin-top: 4px; margin-left: 4px; margin-right: auto;"></ion-icon>
        </div>
    </div>
    
</div>
