<ion-row>
    <ion-col [size]="12">
        <form [formGroup]="formGroup" #createEventForm="ngForm" (submit)="createEvent(createRequestData())"
              class="mt-2">
            <div class="pos-relative">
                <dynamic-ionic-form-control [group]="formGroup"
                                            [layout]="formLayout"
                                            [model]="formModelMap['event_name']"
                                            #eventName></dynamic-ionic-form-control>
                <core-form-validation-message [controlComponent]="eventName"
                                              [control]="eventName.control"></core-form-validation-message>
            </div>
            <div class="pos-relative">
                <dynamic-ionic-form-control [group]="formGroup"
                                            [layout]="formLayout"
                                            [model]="formModelMap['event_description']"
                                            #eventDescription></dynamic-ionic-form-control>
                <core-form-validation-message [controlComponent]="eventDescription"
                                              [control]="eventDescription.control"></core-form-validation-message>
            </div>
            <div class="pos-relative">
                <dynamic-ionic-form-control [group]="formGroup"
                                            [layout]="formLayout"
                                            [model]="formModelMap['location']"
                                            #eventLocation></dynamic-ionic-form-control>
                <core-form-validation-message [controlComponent]="eventLocation"
                                              [control]="eventLocation.control"></core-form-validation-message>
            </div>
            <div class="pos-relative">
                <dynamic-ionic-form-control [group]="formGroup"
                                            [layout]="formLayout"
                                            [model]="formModelMap['event_start_time']"
                                            #eventStartTime></dynamic-ionic-form-control>
                <core-form-validation-message [controlComponent]="eventStartTime"
                                              [control]="eventStartTime.control"></core-form-validation-message>
            </div>
            <div class="pos-relative">
                <dynamic-ionic-form-control [group]="formGroup"
                                            [layout]="formLayout"
                                            [model]="formModelMap['event_end_time']"
                                            #eventEndTime></dynamic-ionic-form-control>
                <core-form-validation-message [controlComponent]="eventEndTime"
                                              [control]="eventEndTime.control"></core-form-validation-message>
            </div>

        </form>
    </ion-col>
</ion-row>


