<!-- <ion-header>
    <ion-toolbar>
         <ion-title>usermatchpage</ion-title> 
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-grid>
        <ion-row class="heading">
            <ion-col>
                <h2>Congrates!</h2>
                <p>It's A Match</p>
            </ion-col>
        </ion-row>
        <ion-row class="activeprofile">
            <ion-col>
                <img class="profilepic" src="../../assets/images/profilepic1.png">
            </ion-col>
        </ion-row>
        <ion-row class="profileinfo">
            <ion-col>
                <p>You and John Doe both have liked same</p>
            </ion-col>
        </ion-row>
        <ion-row class="profileinfo">
            <ion-col>
                <img class="profilepic" src="../../assets/images/match-profilepic1.png">
            </ion-col>
        </ion-row>
        <ion-row class="thankyou">
            <ion-col>
                <img src="../../assets/images/thankyou.png">
                <ion-button>Send Message</ion-button>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>