<core-modal-header [title]="'Congrats'" (closeClicked)="closeModal($event)"></core-modal-header>
<ion-content [scrollEvents]="true" class="--bg-primary-ultra-light">
    <user-profiles-user-matched [userProfile]="userProfile"
                                [matchedProfile]="matchedProfile"></user-profiles-user-matched>
</ion-content>
<!--<core-modal-footer-->
<!--        (actionClicked)="usersUserProfileFormComponent.users_user_profile_create_or_update_component.createUserProfile(-->
<!--        usersUserProfileFormComponent.users_user_profile_create_or_update_component.createRequestData(usersUserProfileFormComponent.createRequestData()))"-->
<!--        [buttonText]="'UPDATE'"-->
<!--        [actionPromise]="usersUserProfileFormComponent.users_user_profile_create_or_update_component.user_profile_create$"-->
<!--        [buttonDisabled]="!usersUserProfileFormComponent.formGroup.valid"></core-modal-footer>-->
