<core-modal-header [title]="'GET PRIVILEGE MEMBERSHIP'" (closeClicked)="closeModal($event)"></core-modal-header>
<ion-content [scrollEvents]="true" class="--bg-primary-ultra-light">
  <user-payments-create-strip-charge (stripeTokenReceived)="registerEffectAndCloseModal($event,{data:$event,status:'SUCCESS'})"
                       #createStripChargeComponent></user-payments-create-strip-charge>
  <user-payments-create-user-payment-no-template [amount]="amount" [description]="'Privilege membership payment'"></user-payments-create-user-payment-no-template>
</ion-content>
<core-modal-footer
        (actionClicked)="createStripChargeComponent.createStripeToken(createStripChargeComponent.createRequestData())"
        [buttonText]="'BUY'" [actionPromise]="createStripChargeComponent.create_stripe_token$"
        [buttonDisabled]="!createStripChargeComponent.formGroup.valid"></core-modal-footer>
