<core-modal-header [title]="'Select account to Invite'" (closeClicked)="closeModal($event)"></core-modal-header>
<ion-content [scrollEvents]="true" class="--bg-primary-ultra-light">
    <chats-user-chats-no-template #chatsUserChatsComponent></chats-user-chats-no-template>
    <div *ngFor="let user_chat of chatsUserChatsComponent.user_chats" class="bb-medium">
        <a (click)="createEventInviteNoTemplateComponent.createEventInvite(createEventInviteNoTemplateComponent
                .createRequestData(undefined,chats_user_accounts_to_other_account_pipe.transform(user_chat,loggedProfile.userAccount)))">
            <chats-user-chat [userChat]="user_chat"></chats-user-chat>
        </a>
    </div>
    <events-create-event-invite-no-template [event]="event"
                                            [message]="'Hey I am inviting to join me for '+event.eventName"
                                            (eventInviteCreated)="closeModal({status:'SUCCESS',data:$event})"
                                            #createEventInviteNoTemplateComponent></events-create-event-invite-no-template>
</ion-content>
