<div *ngIf="typingListenerResponse?.isTyping">
<!--    <quickblox-get-user-account-from-quickblox-id-->
<!--            [quickbloxUserId]="typingListenerResponse.userId"-->
<!--            #userAccountDetails></quickblox-get-user-account-from-quickblox-id>-->
<!--    <p class="fs-8 text-color m-0" *ngIf="userAccountDetails?.user_account">-->
<!--        <span>{{userAccountDetails?.user_account?.display_name}}</span> is typing-->
<!--    </p>-->
</div>
<quickblox-typing-listener (typingStatusChanged)="onTyping($event)"></quickblox-typing-listener>
<quickblox-create-message-xml [dialogId]="dialogId"
                              (quickbloxMessageCreated)="quickbloxCreateMessage.attachments=[]"
                              #quickbloxCreateMessage></quickblox-create-message-xml>

