<user-interests-by-entity-multiple-no-template
        [entity]="entity" [type]="type" [interaction]="interaction"
        [userId]="loggedProfile.userAccount._id"
        (userInterestsReceived)="user_interests=$event"
        #interestsByEntityMultipleNoTemplateComponent></user-interests-by-entity-multiple-no-template>

<user-interests-create-user-interest-no-template
        [entity]="entity" [type]="type" [interaction]="interaction"
        (userInteractionCreated)="user_interests=[$event];userInteractionCreated.emit($event)"
        #createUserInterestNoTemplateComponent></user-interests-create-user-interest-no-template>

<user-interests-delete-user-interest-no-template
        (userInterestDeleted)="userInterestDeleted.emit($event);interestsByEntityMultipleNoTemplateComponent.getUserInterestsByEntityMultiple(interestsByEntityMultipleNoTemplateComponent.createRequestData())"
        #deleteUserInterestNoTemplateComponent></user-interests-delete-user-interest-no-template>

<ion-button fill="outline" shape="round" size="large" color="medium" class="m-auto" *ngIf="!user_interests?.length"
            (click)="createUserInterestNoTemplateComponent.createUserInterest(createUserInterestNoTemplateComponent.createRequestData())"
            coreClickStopPropogation>
    <fa-icon class="font-primary" icon="thumbs-up"></fa-icon>
</ion-button>
<ion-button fill="solid" shape="round" size="large" color="medium" class="m-auto" *ngIf="user_interests?.length"
            (click)="deleteUserInterestNoTemplateComponent.deleteUserInterest(deleteUserInterestNoTemplateComponent.createRequestData(user_interests[0]))"
            coreClickStopPropogation>
    <fa-icon icon="thumbs-up"></fa-icon>
</ion-button>
