<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <p class="text-center font-weight-bold txt-uppercase fs-12">Update Profile</p>
    </ion-toolbar>
</ion-header>
<ion-content class="--bg-primary-ultra-light">
    <ion-row class="pt-3">
        <ion-col size="12">
            <users-filter-user-profiles [gender]="'MALE'"></users-filter-user-profiles>
        </ion-col>
    </ion-row>
    <ion-row class="pt-3">
        <images-upload-file #uploadFileComponent></images-upload-file>
    </ion-row>
    <div class="maxw-500p m-auto">
        <ion-row class="pt-3">
            <ion-col>
                <users-user-profile-create-or-update-form></users-user-profile-create-or-update-form>
            </ion-col>
        </ion-row>
    </div>

</ion-content>