<core-modal-header [title]="'Update Value'" (closeClicked)="closeModal($event)"></core-modal-header>
<ion-content [scrollEvents]="true" class="--bg-primary-ultra-light">
    <users-user-profile-create-or-update-specific-form [entityType]="entityType"
                                                       (userProfileChanged)="closeModal({status:'SUCCESS',data:$event})"
                                                       [userProfileValue]="userProfile|usersUserProfileToUserProfileValue:entityType"
                                                       #usersUserProfileFormComponent></users-user-profile-create-or-update-specific-form>
</ion-content>
<core-modal-footer *ngIf="entityType != 'LOCATION'"
        (actionClicked)="usersUserProfileFormComponent.users_user_profile_create_or_update_component.createUserProfile(
        usersUserProfileFormComponent.users_user_profile_create_or_update_component.createRequestData(usersUserProfileFormComponent.createRequestData()))"
        [buttonText]="'UPDATE'"
        [actionPromise]="usersUserProfileFormComponent.users_user_profile_create_or_update_component.user_profile_create$"
        [buttonDisabled]="!usersUserProfileFormComponent.formGroup.valid"></core-modal-footer>
<core-modal-footer *ngIf="entityType == 'LOCATION'"
        (actionClicked)="usersUserProfileFormComponent.users_user_profile_create_or_update_component.createUserProfile(
        usersUserProfileFormComponent.users_user_profile_create_or_update_component.createRequestLocationData(usersUserProfileFormComponent.createRequestLocationData()))"
        [buttonText]="'UPDATE'"
        [actionPromise]="usersUserProfileFormComponent.users_user_profile_create_or_update_component.user_profile_create$"
        [buttonDisabled]="!usersUserProfileFormComponent.formGroup.valid"></core-modal-footer>
