<div class="p-1">
    <div *ngFor="let message of quickblox_messages">
        <div>
            <ion-row>
                <ion-col [size]="10" [offset]="message.sender_id === loggedProfile.userAccount.quickbloxId?2:0">
                    <ion-card class="bg-primary-white m-0">
                        <ion-card-subtitle>
                            <p class="font-primary-dark fs-7 m-0 pt-1 pl-1 pr-1">
                                {{message.sender_id === loggedProfile.userAccount.quickbloxId ?
                                'You' : loggedProfile|usersUserProfileToUserProfileValue:'DISPLAY_NAME'}}
                                <span class="text-color float-right text-right">
                                {{message.date_sent | amTimeAgo}}
                                </span>
                            </p>

                        </ion-card-subtitle>
                        <ion-card-content class="p-1">
                            <ion-row>
                                <quickblox-attachment-details [attachment]="attachment"
                                                              *ngFor="let attachment of message.attachments"></quickblox-attachment-details>

                            </ion-row>
                            <p class="p-1 m-0 whitespace-pre-line" [innerHTML]="message.message"></p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>
