<ion-header>
    <ion-toolbar [color]="'primary'">
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
            <div class="menu-img">
                <ion-button (click)="onCloseClicked()" fill="outline" color="secondary">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </div>
        </ion-buttons>
        <ion-buttons slot="start">
            <!--<ion-back-button (click)="goBack()"></ion-back-button>-->
        </ion-buttons>
    </ion-toolbar>
</ion-header>