<users-user-profile-by-user-no-template
        [userAccount]="userChat|chatsUserAccountsToOtherAccount:loggedProfile.userAccount"
        #usersUserProfileByUserNoTemplateComponent
></users-user-profile-by-user-no-template>
<quickblox-list-dialogs-no-template [dialogId]="userChat.quickbloxId"
                                    #quickbloxListDialogsNoTemplateComponent></quickblox-list-dialogs-no-template>

<ion-card *ngIf="usersUserProfileByUserNoTemplateComponent.user_profile">
    <ion-row>
        <ion-col size="3">
            <images-by-entity-and-type-sm
                    [entity]="usersUserProfileByUserNoTemplateComponent.user_profile.userAccount._id"
                    [entityType]="'USER_ACCOUNT'"
                    [alt]="(usersUserProfileByUserNoTemplateComponent.user_profile|usersUserProfileToUserProfileValue:'NAME').value">

            </images-by-entity-and-type-sm>
        </ion-col>
        <ion-col size="9">
            <div class="w-100">
                <ion-label class="font-black font-weight-bold fs-8">
                    {{(usersUserProfileByUserNoTemplateComponent.user_profile|usersUserProfileToUserProfileValue:'NAME').value}}
                </ion-label>
            </div>
            <div *ngIf="quickbloxListDialogsNoTemplateComponent.quickblox_dialogs?.items?.length">
                <div *ngFor="let item of quickbloxListDialogsNoTemplateComponent.quickblox_dialogs.items">
                    
                    <ion-label class="float-left">
                        {{item.last_message}}
                    </ion-label>
                    <ion-label class="float-right">
                        {{item.updated_at|amTimeAgo}}
                    </ion-label>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-card>