<ion-content [scrollEvents]="true" class="--bg-primary-mega-light">
  <ion-row>
    <ion-col [size]="6" class="p-3">
      <ion-label class="font-black font-weight-bold ion-text-uppercase fs-12 ellipses-2">
        DM
      </ion-label>
    </ion-col>
    <ion-col [size]="6" class="p-3 ">
      <ion-label class="font-black float-right ion-text-uppercase fs-10 ellipses-2">
        <fa-icon [icon]="'search'"></fa-icon>
      </ion-label>
    </ion-col>
  </ion-row>
  <chat-user-requests></chat-user-requests>
  <chats-user-chats></chats-user-chats>
</ion-content>